Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.3
python-dotenv==1.0.1
sentence-transformers==3.0.1
faiss-cpu
PyPDF2==3.0.1
requests>=2.31.0
numpy
deepface==0.0.93
opencv-python==4.10.0.84
Pillow==10.4.0
langfuse>=4.0.0